# Server Configuration
PORT=5000

# Database Configuration
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres

# Authentication
JWT_SECRET=postgres
# JWT Token Expiration
JWT_EXPIRATION=24h